<a href="https://colab.research.google.com/github/PECHETTIPRIYANKAKRISHNA/DS_Rcodefiles/blob/main/PROBABILITY_DISTRIBUTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from scipy import stats
stats.norm.cdf(70,60,10) #(prob less than 70)

0.8413447460685429

In [ ]:
1-stats.norm.cdf(70,60,10)#(prob greater than 70)

0.15865525393145707

In [ ]:
stats.norm.cdf(680,711,29)#(prob less than 680)

0.14254260383881612

In [ ]:
1-stats.norm.cdf(680,711,29)#(prob geater than 680)

0.8574573961611839

In [ ]:
1-stats.norm.cdf(720,711,29)#(prob greater than 720)

0.37814937265194704

In [ ]:
stats.norm.cdf(740,711,29)-stats.norm.cdf(680,711,29)

0.6988021422297268

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
bemldata=pd.read_csv("/content/BEML.csv")
bemldata.head(3)

         Date    Open     High  ...   Close  Total Trade Quantity  Turnover (Lacs)
0  2010-01-04  1121.0  1151.00  ...  1135.6              101651.0          1157.18
1  2010-01-05  1146.8  1149.00  ...  1134.6               59504.0           676.47
2  2010-01-06  1140.0  1164.25  ...  1139.6              128908.0          1482.84

[3 rows x 8 columns]

In [ ]:
glaxodata=pd.read_csv("/content/GLAXO.csv")
glaxodata.head(3)

         Date     Open     High  ...    Close  Total Trade Quantity  Turnover (Lacs)
0  2010-01-04  1613.00  1629.10  ...  1625.65                9365.0           151.74
1  2010-01-05  1639.95  1639.95  ...  1616.80               38148.0           622.58
2  2010-01-06  1618.00  1644.00  ...  1638.50               36519.0           595.09

[3 rows x 8 columns]

In [ ]:
bemldf=bemldata[['Date','Close']]
glaxodf=glaxodata[['Date','Close']]

In [ ]:
bemldf.head(3)

         Date   Close
0  2010-01-04  1135.6
1  2010-01-05  1134.6
2  2010-01-06  1139.6

In [ ]:
glaxodf.head(3)

         Date    Close
0  2010-01-04  1625.65
1  2010-01-05  1616.80
2  2010-01-06  1638.50